@import "../../../mixins";

.study-body {
  width: 100%;
  position: relative;
  margin-top: 100vh;
};

.study {
  &-button-try {
    @include posAbs(100px, 100%, true, invert);
    z-index: 100;
  }
}