@import "../../mixins";
@import "../../variables";

.button {
  @include setTheme('background-color', xxHigh);
  @include flexGrid(center, center, nowrap);
  @include size(auto, 50px);
  @include setShadow(small);
  @include smooth(transform, .2s);
  border: none;
  position: relative;
  padding: 0 50px;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;

  &:active {}

  &:focus {
    outline: 0;
  }

  &:hover {
    @include setShadow(large);
    transform: scale(1.05) !important;
  }

  &-img-container {
    @include setTheme('background', xxHigh);
    @include flexGrid(center, center, no-wrap);
    @include size(100%, 100%);
    @include smooth(transform, 0.3s);
    position: absolute;
  }

  &-img {
    @include setTheme('color', main);
    font-size: 20px;
  }

  &-title{
    @include setTheme('color', main);
    @include smooth(transform, 0.3s);
    line-height: 1em;
    color: white;
    margin: 0;
  }
}

.invert {
  @include setTheme('background', main);
  .button-img-container {@include setTheme('background', main)}
  .button-img {@include setTheme('color', xxHigh)}
  .button-title {@include setTheme('color', xxHigh)}
}

.horizontal {
  .button-img-container {transform: translateX(-100%)}
  &:hover div {transform: translateX(0)}
  &:hover p {transform: translateX(80%)}
}
.vertical {
  .button-img-container {transform: translateY(-100%)}
  &:hover div {transform: translateY(0)}
  &:hover p {transform: translateY(80%)}
}