@import "../../../mixins";

.caseItem {
  @include size(500px, 500px);
  @include setShadow(small);
  border-radius: 5px;
  overflow: hidden;

  &-image {
    @include size(100%, auto);
    object-fit: cover;
  }
}