@import "../mixins";

.montage {
  @include size(100%, auto);
  margin: 20px 0;

  &-image {
    width: 100%;

    &-landscape {
      @include size(auto, 100%);
    }

    &-container {
      @include size(400px, 400px);
      @include flexGrid(center, center, nowrap);
      margin: 20px;
      box-shadow: map-get($shadow, small);
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      @include smooth(transform, .2s);

      &:hover {
        transform: scale(1.02)
      }
    }

    &-large {
      width: calc(50% - 40px);

      @include view(tab) {
        width: 100%;
      }
    }
  }

  &-selected {
    @include size(auto, 80vh);

    /deep/ .IMG-container-img {
      height: 100%;
      width: auto;
    }

    @include view(tab) {
      @include size(80vw, auto);

      /deep/ .IMG-container-img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.dialog-landscape {
  @include view(1800px) {
    @include size(80vw, auto);

    /deep/ .IMG-container-img {
      height: auto;
      width: 100%;
    }
  }
}