@import "../mixins";
@import "../variables";

.tags-container {
  @include flexGrid(center, flex-start, wrap);
  margin-left: -5px;
  cursor: inherit;
}

.tags {
  @include setTheme('background-color', xxHigh);
  padding: map-get($spacing, xxSmall) map-get($spacing, xSmall);
  margin: 0 5px;
  margin-bottom: map-get($spacing, xSmall);
  border-radius: 20px;

  &[size='small'] {
    padding: 2px 10px;
  }

  &[size='xSmall'] {
    padding: 2px 8px;
    font-size: 10px;
  }

  &[stroke] {
    @include setTheme('border-color', xxHigh);
    border: 1px solid;
    background: none;
  }
}

.invert {
  @include setTheme('color', xxHigh);
  @include setTheme('background-color', xxMain);
}