@import "../mixins";

.title {
  @include size(100%, 150px);
  @include flexGrid(center, flex-start, no-wrap);
  margin-bottom: map-get($spacing, large);
  @include view(laptop) {
    height: 80px;
  }

  @include view(phone) {
    height: 50px;
  }

  &-text {
    @include setTheme('color', xxMain);
    margin: 0;
    font-size: 150px;

    @include view(laptop) {
      font-size: 80px;
    }

    @include view(phone) {
      font-size: 60px;
    }
  }
}