@import "mixins";
@import "animations";

@include bodyTheme();

* {
  box-sizing: border-box;
  transition: background .2s, color .2s;
}

body, html {
  font-size: 62.5%
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden !important;
  will-change: background-color;

  &::-webkit-scrollbar {
    background: white;
    border-left: 1px dashed rgb(37, 37, 41);

    &-thumb {
      background: rgb(37, 37, 41);
    }
  }
}

h1, h2, h3, h4, p, a, q, li {
  display: block;
  line-height: 1.5em;
  margin: 0;
  margin-top: .5em;
}

h1[center], h2[center], h3[center], h4[center], p[center], a[center], q[center] li[center] {
  text-align: center
}

h1[fillWidth], h2[fillWidth], h3[fillWidth], h4[fillWidth], p[fillWidth], a[fillWidth], q[fillWidth] li[fillWidth] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1[bold], h2[bold], h3[bold], h4[bold], p[bold], a[bold], q[bold] li[bold] {
  font-weight: 800
}

h1[semiBold], h2[semiBold], h3[semiBold], h4[semiBold], p[semiBold], a[semiBold], q[semiBold] li[semiBold] {
  font-weight: 600
}

h1[invert], h2[invert], h3[invert], h4[invert], p[invert], a[invert], q[invert] li[invert] {
  @include setTheme('color', main);

  &::selection {
    @include setTheme('background-color', xxHigh)
  }
}

h1[title] {
  margin-top: 100px;
  margin-bottom: map-get($spacing, large)
}

h1, h2, h3, h4 {
  @include setTheme('color', xxHigh);
}

h2, h3, h4 {
  font-family: 'Poppins';
}

p, a, q, li {
  font-family: 'Roboto';
}

a, q {
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
}

h1 {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 42px;
  font-size: 4.2rem;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: -0.5px;
}

h3 {
  font-weight: 400;
  font-size: 26px;
  font-size: 2.6rem;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  font-size: 2.2rem;
}


p {
  @include setTheme('color', high);
  font-weight: 200;
  font-size: 1.9rem;
  font-size: 19px;
  max-width: 500px;

  &[bold] {
    font-weight: 400;
  }

  &[small] {
    font-size: 1.2rem;
    font-size: 12px;
    max-width: 350px;
  }

  &[medium] {
    font-size: 1.4rem;
    font-size: 14px;
  }

  &[faded] {
    @include setTheme('color', xxMain);
  }
}

a {
  @include setTheme('color', link);
  position: relative;
  cursor: pointer;
  text-decoration: underline;
  z-index: 0;

  &[hover] {
    text-decoration: none;

    &:before {
      @include size(100%, 100%);
      @include posAbs(-10px, 0, false, default);
      @include setTheme('background', xxMain);
      @include smooth(transform, .2s);
      content: "";
      display: block;
      z-index: -1;
      padding: 0 10px;
      transform: scaleX(0);
      transform-origin: right center;
    }
  }

  &:hover {
    @include setTheme('color', xLink);
    text-decoration: none;

    &:before {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }

  &:focus {
    @include setTheme('color', link);
    outline: 0;
    text-decoration: underline;
  }

  &[invert] {

    &[hover]:before {
      @include setTheme('background', high);
    }

    &:hover {
      @include setTheme('color', xMain);
    }

    &:focus {
      @include setTheme('color', main);
    }
  }
}

q {
  @include setTheme('color', high);
  font-style: italic;
  max-width: 300px;
}

li {
  @include setTheme('color', high);
  font-weight: 200;
  font-size: 1.6rem;
  font-size: 16px;
  max-width: 500px;
}

::selection {
  @include setTheme('background-color', selection)
}

div[highlightDiv] {
  position: relative;

  &::after {
    @include posAbs(0, 0, false, default);
    @include setTheme('background-color', xMain);
    @include size(100%, 100%);
    content: "";
    animation: fade-in-out 1s ease-in-out;
  }
}