@import "../../../../mixins";

.clientItem {
  @include setShadow(small);
  @include smooth(transform, .4s);
  @include flexGrid(center, space-between, no-wrap);
  @include size(300px, 450px);
  flex-direction: column;
  padding: map-get($spacing, small);
  border: 1px solid;
  border-radius: 5px;
  margin: 0 map-get($spacing, small) map-get($spacing, small) 0;
  text-decoration: none;
  cursor: alias;

  @include view(phone) {
    margin-right: 0;
    margin-left: 0;
  }

  &:hover {
    transform: scale3d(1.01, 1.01, 1);
  }

  &NoLink {
    cursor: default;

    &:hover {
      transform: none;
    }
  }

  &-info {
    @include size(100%, 100%);
    @include flexGrid(flex-start, space-between, no-wrap);
  }

  i {
    font-size: 15px;
    margin-top: .5em;
  }

  &-name {
    font-weight: 200;
    font-size: 24px;
  }
}