@import "../../../mixins";
@import "../../../wrapper";

.about {
  @include wrapper();
  height: auto;

  &-image {
    @include size(400px, 700px);
    margin-right: 60px;
    border-radius: 5px;

    @include view(1600px) {
      @include size(350px, 700px);
      margin-right: 40px;
    }

    @include view(1500px) {
      @include size(250px, 700px);
    }

    @include view(laptop) {
      @include size(100%, 200px);

      .parallax-img {
        @include size(100% !important, auto !important);
      }
    }

    @include view(phone) {
      margin: 0;
    }
  }

  &-wrapper {
    @include size(100%, auto);
    @include flexGrid(center, center, wrap);

    @include view(1600px) {
      justify-content: flex-start !important;
      align-items: flex-start !important;
    }
  }
}