@import "../../../mixins";

.aboutContent {
  @include size(800px, 700px);
  padding: 0 map-get($spacing, xSmall);

  @include view(laptop) {
    @include flexGrid(center, flex-start, wrap);
    @include size(100%, auto);
    padding: map-get($spacing, regular) map-get($spacing, xSmall);
  }

  &-component {
    margin-top: map-get($spacing, regular);
    &:first-child {margin: 0}

    @include view(laptop) {
      width: 45%;
      margin-top: map-get($spacing, xSmall) !important;

      &-personal {margin-right: 5% !important;}
      &-looking-for {margin-left: 5%}
      &-extra {width: 100%}
    }

    @include view(tab) {
      width: 47.5%;
      &-personal {margin-right: 2.5% !important;}
      &-looking-for {margin-left: 2.5%}
      &-extra {width: 100%}
    }

    @include view(phone) {
      width: 100%;
      margin: 0 !important;
    }
  }

  &-items {
    @include setTheme('border-color', xxMain);
    @include flexGrid(flex-start, flex-start, wrap);

    padding: map-get($spacing, xSmall) map-get($spacing, small);
    border: 1px dashed;
    margin-top: map-get($spacing, xSmall);
  }

  &-list-items {
    width: 50%;
    margin-bottom: map-get($spacing, xSmall);

    @include view(laptop) {
      width: 100%;
    }
  }
}