@import "../../mixins";

.nav{
  @include setTheme('border-right-color', xxHigh);
  @include posFix(40px, 7.5vh, false, invert);
  @include flexGrid(space-between, center, nowrap);
  @include size(80px, 85vh);
  @include hide(tab);
  @include introAnimation(150%, 0, .7s);
  transform: translate3d(150%, 0, 0);
  border-right: 1px solid;
  flex-direction: column;

  &-lang {
    @include size(80%, 80px);
    @include flexGrid(center, flex-start, nowrap);
    background: transparent;
    transform: translateX(10%);
    flex-direction: column;
    cursor: pointer;

    &:hover .nav-lang-titles {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &:hover .nav-lang-titles[selected] {
      transform: translate(-100%, -50%);
      opacity: 0;
    }

    .icon {
      @include setTheme('color', xxHigh);
      transition: none;
      font-size: 24px;
    }

    &-titles {
      @include posAbs(50%, 50%, false, default);
      transform: translate(100%, -50%);
      transition: transform .2s ease, opacity .2s ease;
      opacity: 0;

      &[selected] {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
}