@import "../../mixins";
@import "../../variables";

.nav-container {
  @include size(100%, 150px);
  @include flexGrid(center, center, nowrap);

  &-column {
    @include size(12px, auto);
    @include setTheme('border-color', xxHigh);
    border: 1px solid;
    margin: 0 5px;
  }

  &-item{
    @include size(10px, 20px);
    @include smooth(height, .2s);

    &:hover {
      height: 40px;
      cursor: pointer;
    }

    &:active {background-color: #20ba20}

    &[active] {height: 40px}
  }

  &-left {
    .nav-container-item:nth-child(1) {background: map-get($theme_Dark, main)}
    .nav-container-item:nth-child(2) {background: map-get($theme_Red, main)}
    .nav-container-item:nth-child(3) {background: map-get($theme_Light, main)}
  }

  &-right {
    .nav-container-item:nth-child(1) {background: map-get($theme_Black, main)}
    .nav-container-item:nth-child(2) {background: map-get($theme_Purple, main)}
    .nav-container-item:nth-child(3) {background: map-get($theme_Wheat, main)}
  }
}