@import "../../../mixins";
@import "../../../wrapper";

.caseStudies {
  @include flexGrid(flex-start, center, wrap);
  width: 100%;
  margin: auto;
  max-width: 1200px;

  &-container {
    @include wrapper();
    @include size(100%, auto);
  }
}