@import "../../../mixins";

.caseItemContent {
  position: relative;
  height: 190px;
  padding: map-get($spacing, small);

  .content {
    &-title {
      @include setTheme('background-color', xxHigh);
      @include setShadow(small);
      @include posAbs(0, 0, false, default);
      padding: map-get($spacing, xxSmall) map-get($spacing, small);
      transform: translateY(-50%);
      margin-left: 20px;
      margin-top: 0;
    }

    &-tags {
      margin-top: map-get($spacing, small);
    }

    &-type {
      @include posAbs(10px, 10px, false, invert);
      @include setTheme("color", high);
    }
  }
}