@import "../../../mixins";

.caseItem {
  @include size(500px, 500px);
  @include setShadow(small);
  @include smooth(transform, .4s);
  @include setTheme('border-color', xxMain);
  text-decoration: none;
  border: 1px solid;
  cursor: pointer;
  margin: map-get($spacing, small);
  border-radius: 5px;
  overflow: hidden;

  &:hover {
    transform: scale3d(1.01, 1.01, 1);
  }

  &-image {
    @include size(100%, 300px);
    object-fit: cover;
  }
}