@import "../../../mixins";
@import "../../../wrapper";

.social {
  @include wrapper();

  &-instagram {
    @include flexGrid(flex-start, center, wrap);
    padding: 20px;

    @include view(phone) {
      padding: 20px 0;
    }

    &-item {
      width: 350px;

      @include view(phone) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 375px;
      }
    }
  }

  &-github {
    @include flexGrid(center, center, nowrap);
    padding: 20px;
  }
}