@import "../../mixins";

.study-intro {
  @include size(80vw, 80vh);
  @include posAbs(10vw, 10vh, false, default);
  overflow: hidden;

  @include view(tab) {
    @include size(100vw, 80vh);
    left: 0;
  }

  @include view(phone) {
    @include size(100vw, 100vh);
    top: 0;
  }

  .study-title {
    @include posAbs(50%, 50%, true, default);
    @include setShadow(large);
    @include size(200px, 200px);
    transition: opacity ease 1s, transform ease 1s;
    transform: scale3d(0, 1, 1) translate(-50%, -50%);
    transition-delay: .8s, .8s;
    opacity: 0;

    h1 {
      @include setTheme('background-color', xxHigh);
      @include setTheme('color', main);
      position: relative;
      z-index: 10;
    }
  }

  & video {
    @include size(80vw, 80vh);
    @include posAbs(0, 0, false, default);
    transform: scale3d(1.1, 1.1, 1) rotate(2deg);
    transition: opacity ease 1s, transform ease 1s, filter ease 1s, height ease .2s, width ease .2s;
    transition-delay: .8s, .8s, .8s, 0s, 0s;
    opacity: 0;
    filter: grayscale(1);
    object-fit: cover;

    @include view(tab) {
      @include size(100vw, 70vh);
      top: 5vh;
    }

    @include view(phone) {
      @include size(100vw, 100vh);
      top: 0;
      z-index: -1;
    }
  }

  &-in {
    .study-title {
      transform: scale3d(1, 1, 1) translate(-50%, -50%, 0) !important;
      opacity: 1 !important;
    }

    & video {
      transform: scale3d(1, 1, 1) rotate(0) !important;
      filter: grayscale(0.7);
      opacity: 1 !important;
    }
  }
}