@import "../../mixins";
@import "../../wrapper";

.info-container {
  @include size(100%, auto);
  @include setTheme('background-color', xxHigh);
  @include setTheme('border-color', high);
  padding: 40px 80px;
  border-bottom: 1px dashed;
  position: relative;

  &-title {
    margin-bottom: 40px;
  }

  @include view(tab) {
    padding: 40px;
  }
}

.transparent {
  @include setTheme('background-color', main);
  opacity: 0.9;
  border: none;
}