@import "../../mixins";
@import "../../wrapper";

.study-process-image {
  @include size(45%, auto);
   margin: 20px 0;

  @include view(laptop) {
    width: 100%;
  }

  & img {
    @include size(100%, 300px);
    object-fit: cover;
    overflow: hidden;
    cursor: url(/src/resources/img/cursors/inspect.svg), auto;
    @include smooth(object-position, .2s);

    @include view(laptop) {
      height: 300px;
    }
    @include view(tab) {
      height: 250px;
    }
    @include view(phone) {
      height: 200px;
    }
  }

  &-title {
    opacity: .75;
    font-size: 16px;
  }
}