@import "../../mixins";

.study-container {
  overflow: visible;
  width: 80vw;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @include view(tab) {
    width: 100vw;
    left: 0;
  }
}