@import "../../mixins";

.study-intro {
  @include posFix(10vw, 10vh, false, default);
  @include size(80vw, 80vh);
  z-index: -1;
  overflow: hidden;

  @include view(tab) {
    width: 100vw;
    left: 0;
  }

  @include view(phone) {
    height: 100vh;
    top: 0;
  }

  &-in {
    .study-title {
      transform: scale3d(1, 1, 1) translate(-50%, -50%) rotate(0) !important;
      opacity: 1 !important;
    }

    .study-intro-media {
      transform: scale3d(1, 1, 1) rotate(0) !important;
      filter: grayscale(0.7) !important;
      opacity: 1 !important;
    }
  }

  .study-title {
    @include posAbs(50%, 50%, true, default);
    @include setShadow(large);
    transition: opacity ease 1s, transform ease 1s;
    transform: scale3d(1.1, 1.1, 1.1) translate(-50%, -50%) rotate(4deg);
    transition-delay: .8s, .8s;
    opacity: 0;
    z-index: 9;

    h1 {
      @include setTheme('background-color', xxHigh);
      @include setTheme('color', main);
      padding: map-get($spacing, xxSmall) map-get($spacing, regular);
      margin: 0;
    }
  }

  .study-intro-media {
    @include size(80vw, 80vh);
    @include posAbs(0, 0, false, default);
    transform: scale3d(1.1, 1.1, 1) rotate(2deg);
    transition: opacity ease 1s, transform ease 1s, filter ease 1s;
    transition-delay: .8s, .8s, .8s;
    opacity: 0;
    filter: grayscale(1);
    object-fit: cover;

    @include view(tab) {
      @include size(100vw, 70vh);
      top: 5vh;
    }

    @include view(phone) {
      @include size(100vw, 100vh);
      top: 0;
      z-index: -1;
    }
  }
}