@import "../../mixins";

.study-link {
  @include size(50px, 50px);
  text-decoration: none;
  margin: 20px;

  &-icon {
    @include setTheme("color", main);
    font-size: 54px;
    cursor: pointer;
    @include smooth(transform, .2s);

    &:hover {
      transform: rotate(-15deg);
    }
  }
}