@import "../../../mixins";

.bottom-nav-container {
  @include posAbs(150px, 50px, false, invert);
  @include size(auto, 40px);
  @include flexGrid(center, flex-end, nowrap);

  @include view(phone) {
    display: none;
  }
}

.audio {
  @include setTheme('color', high);
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}