@import "../../../mixins";
@import "intro_animations";

.bottom-nav-container {
  @include posAbs(150px, 50px, false, invert);
  @include size(auto, 40px);
  @include flexGrid(center, flex-end, nowrap);
}

.audio {
  @include setTheme('color', high);
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.scroll {
  @include setTheme('border-color', high);
  @include flexGrid(flex-start, center, nowrap);
  @include size(22px, 36px);
  border: 1px solid;
  border-radius: 15px;

  &-dot {
    @include setTheme('background', high);
    @include size(4px, 4px);
    @include createCircle();
    margin-top: 5px;
    animation: scroll-dot 2s ease infinite;
  }
}